:root {

    /*Colores*/
    --azul: #284b63;
    --grisClaro: #7c7c7c;
    --grisOscuro: #353535;
    --verde: #35ab64;
    --blanco: #ffffff;
    --negro: #252422;
  
   --fuentePrincipal: "Poppins", sans-serif;
    --sede: #E1521Bff;
    --municipio: #189ED7ff;
    --areametro: #8D2482ff;
  }

  
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: var(--fuentePrincipal);
    background-color: var(--blanco);
}

/* - Globales -*/
img {    
    width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    text-align: center;
    margin: 0;
    text-transform: uppercase;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

p {
    padding: 0;
    margin: 0;
}

.container {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

.seccion {
    margin: 3rem 0;
}

/*Sitio Web*/
.contenido{ 
    height: 100%;
}

.logo h1{
    color: var(--blanco);
    margin-top: 2rem;
}

.logo span {
    color: var(--verde);
}

.contenido-principal{
    background-color: #284b63;    
    margin-left: 7rem;
    transition: margin-left 300ms cubic-bezier(0.085, 0.135, 0.15, 0.86);
}

.menu{
    width: 7rem;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--negro);
    transition: all 300ms cubic-bezier(0.085, 0.135, 0.15, 0.86);
}

/*ASIDE*/
.navegacion-lateral{
    color: var(--blanco);    
}

.navegacion-lateral a{
    color: var(--grisClaro);
    margin-left: 0;
    display: flex;
    align-items: center; 
}

.navegacion-lateral a:hover{
    color: var(--verde);
}

.activo p{
    color: var(--blanco);
}

.activo img {
    background-color: #35ab64;
    border-radius: 50%;    
    padding: .5rem;
}

.icono-nav{
    width: 3.5rem;
    margin: 1rem 2rem;
}


.footer-nav-lateral{
    color: var(--blanco);
    text-align: center;
    margin: 2rem;
}


/*mediaquerys*/
.navegacion-lateral a p {
    display: none;
}

@media (min-width: 768px) {
    .navegacion-lateral a p {
        display: block;
    }
    .navegacion-lateral a {
        margin-left: 2rem;
    }

    .menu {
        width: 25rem;
    }

    .contenido-principal{
        margin-left: 25rem;
    }
}