//Colores
$azul: #284b63;
$grisClaro: #7c7c7c;
$grisOscuro: #353535;
$verde: #35ab64;
$blanco: #ffffff;
$negro: #252422;
$sede: #E1521Bff;
$municipio: #189ED7ff;
$areametro: #8D2482ff;
 
//Fuentes
$fuentePrincipal: "Poppins", sans-serif;


//tamaños mq
$celular: 468px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
  
